*,
*::before,
*::after {
    box-sizing: border-box;
   
    
}

html {
    height: 100% ;
}
    
body {
    background: linear-gradient(to bottom, rgb(45, 60, 63), rgb(215, 209, 209), 55%, rgb(57, 61, 62));
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
   
    
}   

.container {


     overflow: hidden;
    
    
}

.base {

    width: 100%;
    margin: 0;
    overflow: hidden;
    display: block;
    float: none;
    padding: 2rem;

}

.base h4 {

    font-size: 48px;
    text-align: center;
    text-shadow: 0px 2px 2px #000000;
    font-family: sans-serif;
    margin-top: 2rem;
    font-weight: normal;
    color: rgb(202, 202, 213);
    padding: 2px;
    border: 1px solid;
    border-bottom-style: none;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-style: none;

}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    

}

.block {

    flex: 1;
    width: 100%;
    padding: 2px 34%;
    display: inline-block;
    float: none;

}

.title {

    font-size: 34px;
    font-family: sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
    color: #101011;;
    word-spacing: 2.7px;
    text-align: center;
    text-shadow: 0px 1px 1px #000000;
    


}

input::placeholder {
    color: #000000;
}



input[type=text] {
    
    display: flex;
    width: 100%;
    outline: none;
    border: 2px solid ;
    border-radius: 6px;
    border-style: none;
    font-size: 24px;
    padding: 11px;
    text-align: center;
    background: linear-gradient(to bottom, rgb(230, 230, 230), rgb(100, 100, 100), rgb(160, 160, 160));;
}

input[type=text]:focus{
    background: #dcf5c4;
    border: 2px solid none;
    border-radius: 0.5rem;
   
}

input[type=button]{
   
    margin-top: 40px;
    outline: none;
    border: none;
    border-radius: 1rem;
    background: linear-gradient(to left, rgb(45, 60, 63), rgb(166, 155, 155), rgb(57, 61, 62));
    padding: 12px 14px;
    color: white;
    font-size: 26px;
     margin: auto;
    display: flex;  
    justify-content: center;  
    align-items: center;   
    
    
}

input[type=button]:hover{
    background-color: #121516;
    text-shadow: 0px 2px 2px #000000;


}




.calculateAge {
   
   margin: 10px;
   margin-top: 3rem;
   padding-bottom: 20px;
   overflow: hidden;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 48px;
   font-weight: normal;
   line-height: 1.5;
   word-spacing: 2.7px;
   color: rgb(190, 190, 198);
   text-shadow: 0px 2px 2px #000000;
   padding: 10px;
   text-align: center;
   
   
}

/* /* @media only screen and (min-width: 480px) {
    body {

      padding: 1rem 3rem;
      display: flex;
      align-items: flex-end;
      height: 100vh;
    }
    
    .container {
        margin: 0 auto;
        width: 480px; 
        
     }
     .calculateAge {
       display: inline;
       height: fit-content;
     } 
  } */

  @media only screen and (max-width: 480px) {
    body {
      padding: 0;
      display: block;
    }
  
    .container {
      width: 100%;
      margin: 0;
      overflow: hidden;
    }
  
    .input-container {
      margin: 0 5px; 
      overflow: hidden;
    }
  
    /* input[type=button] {
        display: flex;
        margin: 0 auto;
    } */
    .calculateAge {
      display: block; 
      margin-top: 1rem; 
    }
  
    .base h4,
    .title,
    input[type=text],
    .calculateAge {
      font-size: 80%;  
      text-align: center;
    }
  }